@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.defaultUserFields {
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.row,
.customFields {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(34% - 9px);
}

.lastNameRoot {
  width: calc(66% - 9px);
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.addressFields {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.addressFields > * + * {
  margin-top: 16px;
}

.cityStateRow {
  display: flex;
  justify-content: space-between;
}

.cityField {
  width: calc(60% - 9px);
}

.stateField {
  width: calc(40% - 9px);
}

.zipCountryRow {
  display: flex;
  justify-content: space-between;
}

.zipField {
  width: calc(50% - 9px);
}

.countryField {
  width: calc(50% - 9px);
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
}

.error {
  composes: textXSmall from global;
  color: var(--colorFail);
  font-weight: var(--fontWeightBold);
  text-align: left;
  padding: 6px 0;

  @media (--viewportMedium) {
    padding: 8px 0;
  }
}
