.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--colorGrey700);
  transition: var(--transitionStyleButton);

  &:hover {
    color: var(--colorBlack);
  }
}

.icon {
  display: block;
}

.badge {
  position: absolute;
  top: 16px;
  right: 4px;
  min-width: 18px;
  height: 18px;
  padding: 0 4px;
  border-radius: 9px;
  background-color: var(--marketplaceColor);
  color: var(--colorWhite);
  font-size: 11px;
  font-weight: var(--fontWeightBold);
  line-height: 18px;
  text-align: center;
}
